.block-wrapper {
  border: solid 1px transparent;
  padding: 8px 3px 3px 3px;
  margin: 1px;
  position: relative;
}

.block-wrapper:hover {
  border: solid 1px #e8e8e8;
}

.block-wrapper.selected {
  border: dashed 1px #38D;
}

.block-wrapper.validation-error {
  border: dashed 1px #d80c0c;
}

.block-wrapper .delete-block {
  position: absolute;
  color: #38D;
  top: -11px;
  right: -6px;
  cursor: pointer;
}
.block-wrapper .block-wrapper-label {
  display: none;
  position: absolute;
  padding-left: 3px;
  padding-right: 3px;
  color: #AAA;
  background-color: white;
  font-size: 6pt;
  top: -6px;
  left: 6px;
}

.block-wrapper:hover .block-wrapper-label {
  display: block;
}

.block-wrapper.selected > .block-wrapper-label {
  display: block;
  color: #38D;
}
