.block-wrapper {
  border: solid 1px transparent;
  padding: 2px;
  margin: 2px;
  position: relative;
}

.block-wrapper:hover {
  border: solid 1px #e8e8e8;
}

.block-wrapper.selected {
  border: dashed 1px #38D;
}

.block-wrapper .delete-block {
  position: absolute;
  color: #38D;
  top: -11px;
  right: -6px;
  cursor: pointer;
}
