.widget-designer-palette {
  height: 100%;
  width: 20%;
  background-color: #AAA;
  display: inline-block;
}

.widget-designer-block {
  height: 100%;
  left: 20%;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.widget-designer-editor {
  height: 100%;
  left: 80%;
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  border-left: solid 1px #AAA;
}