.toc-split { 
  height: 100%;
  position: relative
}

.toc-split-left { 
  height: 100%;
  width: 25%;
  float: left;
}

.toc-split.dark .toc-split-left {
  background-color: #444;
  color: white;
}

.toc-split.dark .toc-item-label:not(.toc-item-label-selected) {
  color: #DDD;
}

.toc-split.light .toc-item-label:not(.toc-item-label-selected) {
  color: #444;
}

.toc-split.dark .toc-item-label-selectable:hover:not(.toc-item-label-selected) {
  background-color: #555;
  color: white;
}

.toc-split.light .toc-item-label-selectable:hover:not(.toc-item-label-selected) {
  background-color: #DDD;
  color: black;
}

.toc-split-right { 
  height: 100%;
  width: 75%;
  float: left;
  border-left: solid 1px #DDD;
  overflow-y: auto;
}

.toc-split.remove-padding {
  margin: -15px -20px -15px -20px;
}

@media screen and (max-width: 800px) {
  .toc-split.remove-padding {
    margin: -10px -5px -10px -5px;
  }
}

@media (min-width: 1200px) {
  .toc-split-left {
    width: 17%;
  }

  .toc-split-right {
    width: 83%;
  }
}

.toc-item-label {
  padding: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.toc-item-label-level0 {
  padding-left: 10px;
  /* font-weight: bold; */
}

.toc-item-label-level1 {
  padding-left: 20px;
}

.toc-item-label-level2 {
  padding-left: 30px;
}

.toc-item-label-level3 {
  padding-left: 40px;
}

.toc-item-label-selectable {
  cursor: pointer;
}
