.normal-page {
  padding: 10px;
  position: relative;
}

.normal-page-header {
  position: absolute;
  cursor: pointer;
  padding: 5px;
  font-size: 17px;
  left: -1px;
  top: 8px;
  color: #AAA;
}

.normal-page-header:hover {
  color: #3378b7;
}

.normal-page-contents {
}
