.normal-page {
  padding: 15px 20px 15px 20px;
  position: relative;
}

.normal-page-header {
  padding: 5px 5px 15px 0px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
}

.normal-page-header-back {
  padding-right: 10px;
  color: #AAA;
  cursor: pointer;
}
.normal-page-header-back:hover {
  color: #38d;
}

.normal-page-header h4 {
  margin: 0;
}